---
import Layout from '../layouts/BlogPost.astro'
---

<Layout
  title="About Me"
  description="Just for the record"
  pubDate={new Date('2024-08-14')}
>
  <p>
    When I wrote this, I only had a superficial understanding of the present.
    More things will change with my own progress, and I like myself that way. I
    hope you like yourself more too.
  </p>
</Layout>
